html {
    font-family: system-ui;
}


.header-button, .remove-card-item-button {
    font-weight: bold;
    border-radius: 2rem;
    border: none;
    transition: transform 0.1s;
    user-select: none;
}

.header-button {
    font-size: 2rem;
    padding: 0 2rem;
}


.remove-card-item-button {
    font-size: 1rem;
    padding: 0.5rem;
    box-shadow: #1f1cbf 0 0 13px 13px;
}

button:hover {
    transition: transform 0.2s, background 0.2s;
    cursor: pointer;
    transform: scale(1.15);
    background: cadetblue;
}


.shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.shop-item {
    display: grid;
    grid-template-rows: 300px 1fr 1fr;
    border-radius: 1rem;
    justify-items: center;
    align-items: center;
    box-shadow: #d31e70 0 0 11px 5px;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        border-radius: 1rem;

    }

    .button-container {
        display: none;
        user-select: none;

    }

    .image-container {
        justify-self: normal;
        align-self: normal;
    }

    .title {
        padding: 0 2rem;
    }

    .move-card-image {
        transition: transform 0.5s;
        z-index: 5;
    }

}

.hide {
    pointer-events: none;
    opacity: 0;
}

.out-of-stock {
    font-size: 2rem;
    font-weight: bold;
    color: blueviolet;
    animation: opacityUp 1s;
    user-select: none;
}


.shop-item:hover {
    cursor: pointer;

    img {

    }

    .button-container {
        display: block;
    }

    .price {
        display: none;
    }

}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.purchased-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5rem;
}








@keyframes purchase-dialog {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.visible.purchase-modal {
    transform: translateY(0);
    opacity: 1;
}

.purchase-modal {
    position: fixed;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 3rem;
    background: white;
    border-radius: 1rem;
    gap: 1.5rem;
    transform: translateY(-50%);
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;

    .button-container{
        display: flex;
        justify-content: center;

        button {
            font-size: 2rem;
            font-weight: bold;
            border: none;
            border-radius: 1rem;
        }
    }


    .image-container {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.purchase-modal-item {
    background: white;
}

.buy-button, .checkout-button {
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1rem;
}


.checkout-button:hover {
    cursor: pointer;
}





body {
    margin: 0;
    padding: 0;


}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}


nav {
    background: #265578;
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    position: relative;
    top: 0;
    z-index: 1;
}

nav > .button-group {
    display: flex;
    gap: 1rem;
    position: absolute;
    justify-self: center;
    align-self: center;
}

nav > .button-container {
    padding-right: 3rem;
}

.buy-button {
    cursor: pointer;
}

.special {
    animation: opacityUp 1s;
}

.shopping-card {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 400%;
    width: 90%;
    top: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 1rem;
    background: honeydew;
    transform-origin: top;
    transform: scaleY(1);
    padding: 0.5rem;
    gap: 1rem;
}

.card-item, .purchase-modal-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 1rem;
    column-gap: 1rem;
    padding: 0.5rem;
    box-shadow: #e52b91 0 0 20px 13px;

    .image-container {
        grid-row: span 2;
    }

    img {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;

    }

    .title {
        grid-column: span 2;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 1rem;

    }
}


.expending {
    display: flex;
    animation: expand 0.6s;
}


.closing {
    display: flex;
    animation: reverseExpand 0.6s;
    transform: scaleY(0);

}


.page {
    background: gray;
    flex: 1;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-weight: bold;
    user-select: none;
    transform: scale(1);
    >p{
        transition: transform 1s ease-in-out;

    }
}


.home>p:hover{

    transform: scale(2);
    cursor: pointer;
}

nav > .button-container {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    > button {
        height: 50%;
    }
}

nav > button {
}


.to-card {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.move-card-image {
    --x-amount: 1px;
    --y-amount: 1px;
    transform: translate(var(--x-amount), var(--y-amount));

}


@keyframes expand {
    0% {
        transform: scaleY(0);
    }

    30% {
        transform: scaleY(1.2);
    }

    70% {
        transform: scaleY(1.25);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes reverseExpand {
    0% {
        transform: scaleY(1);
    }

    30% {
        transform: scaleY(1.2);
    }

    70% {
        transform: scaleY(1.25);
    }
    100% {
        transform: scaleY(0);
    }
}

@keyframes opacityUp {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}



@media (min-width: 1100px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: cornflowerblue;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: blueviolet;
    }

    ::-webkit-scrollbar-track {
        background: lightblue;
    }
}

@media (max-width: 1100px) {


    .navbar {
        grid-template-columns: 1fr 1fr;
        padding: 0 1rem;
        > .button-group {
            position: static;
            height: 75%;
            min-width: 0;
            .button-container{
                button{
                    padding: 0 0.5rem;
                    height: 100%;
                }
            }
        }
        >.button-container{
            padding: 0;
            position: static;
            >button{
                height: 75%;
                min-width: 0;
                padding: 0 0.5rem;

            }
        }
        button {
            font-size: 1rem;
        }
    }

    button:hover{
        transform: scale(1);
    }
    .shopping-card{
        left: 0;
        right: 0;
        margin: auto;
        width: 90%;
    }

    .purchased-items{
        padding: 1rem;
    }
    .purchase-modal{
        width: 90%;
        padding: 0;
    }
    .home{
        font-size: 3rem;
    }
}




